nav {
    background-color: beige; 
    width: fit-content;
    margin-left: 35%;
    padding: 15px;
    }

nav a {
    color: black; 
    text-decoration: none; 
    font-weight: bold; 
    margin-right: 20px; 
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; 
    list-style: none;
}

li {
    flex: 1 1 calc(25% - 20px); 
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

@media (max-width: 1200px) {
    .li {
      flex: 1 1 calc(33.33% - 20px); 
    }
  }
  
  @media (max-width: 768px) {
    li {
      flex: 1 1 calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    li {
      flex: 1 1 100%; 
    }
  }

